@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Mis en forme général */
body{
    margin: 0;
    background-color: #f5f5f5;
}

#general{
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 1160px;
    font-family: Lato, sans-serif;
}

/* Mis en forme de l'en-tête */

header{
    background-color: #17abb3;
}

#entete{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 25px;
}

#photo{
    grid-column: 1;
    place-self: center center;
}

#photo_profil{
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

#photo_profil:hover{
    cursor: zoom-in;
}

#text{
    grid-column: 2 / span 4;
    place-self: center center;
    color: #ffffff;
}

h1{
    justify-self: center;
    font-size: 3em;
    line-height: 0%;
}

#poste{
    justify-self: center;
    font-weight: bolder;
    font-size: 2em;
}

#contact{
   justify-self: center;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   column-gap: 50px;
   font-weight: lighter;
}

#contact li img{
    margin-right: 5px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

ul{
       list-style-type: none;
}

/* Mis en page du corps */

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#section_1{
    grid-column: 1;
    background-color: #e3e3e3;
    padding: 30px;
}

h2{
    color: #17abb3;
    font-weight: bolder;
    font-size: 2em;
    border-bottom: 2px solid #33333322;
    padding-bottom: 20px;
}

.liste{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    padding: 0;
    font-weight: bold;
    line-height: 2em;
}

.right{
    line-height: 2em;
    padding: 0;
    text-align: right;
    font-family: raleway, sans-serif;
}

.puce{
    padding: 0;
    font-family: raleway, sans-serif;
}
.puce li:before{
    content: "\0025A0";
    margin-right: 20px;
    color: #17abb3;
}

#section_2{
    grid-column: 2 / span 4;
    background-color: #ffffff;
    padding: 30px;
}

.latin{
    text-indent: 2em;
    margin: 0;
    font-size: 1em;
    text-align: justify;
}

h3 small{
    font-style: italic;
    font-weight: lighter;
}

.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.date:hover{
    background-color: #e3e3e3;
    border-left: solid 10px #17abb3;
    padding-left: 10px;
}

h3{
    margin: 0;
    
}    

.date .right{
    color: #17abb3;
    font-size: 1.2em;
}
.right p{
    margin: 0;
    vertical-align: top;
}

/* mis en page du pied */

footer{
    padding: 30px;
    background-color: #17abb3;
    color: #ffffff;
    text-align: center;
    font-style: italic;
}
footer img{
    padding: 10px;
}

footer img:hover{
    opacity: 70%;
}

footer p{
    margin-bottom: 0;
}